<template>
  <div>
    <div class="center">
      <h1>{{ title }}</h1>
    </div>
    <div>
      <h3>Temp: {{ weather.main && weather.main.temp }}</h3>
      <h3>Feels like: {{ weather.main && weather.main.feels_like }}</h3>
      <h3>Pressure: {{ weather.main && weather.main.pressure }}</h3>
      <h3>Humidity: {{ weather.main && weather.main.humidity }}</h3>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "home",
  mixins: [],
  computed: {},
  data() {
    return {
      title: "Weather",
      weather: {}
    };
  },
  async beforeMount() {
    await this.getWeather();
  },
  methods: {
    async getWeather() {
      const city = "Rijeka";
      const apiKey = "1ec5d5bb3c6daaec9722b4da0e2c869c";

      const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}`;
      const response = await axios.get(apiUrl);
      this.weather = response.data;
    }
  }
};
</script>
